<main>
  <div *ngIf="!afAuth.currentUser">
    <h1>Login</h1>

    <button mat-raised-button appGoogleSignin>
      <img src="/assets/google-logo.svg" alt="Google Logo" />
      Login with Google
    </button>

    <h5>OR</h5>

    <app-email-login></app-email-login>
  </div>
  <div *ngIf="afAuth.currentUser as user" class="logout">
    <p>
      Logged in as user <strong>{{ user.email }}</strong>
    </p>
    <button mat-stroked-button (click)="afAuth.signOut()">Logout</button>
  </div>
</main>
