// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import url("https://use.typekit.net/jnq3uxd.css");
// Plus imports for other components in your app.

$custom-typography: mat.define-typography-config(
  $font-family: "sofia-pro",
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$custom-orange: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: white,
  ),
);

$angular-firestarter-primary: mat.define-palette($custom-orange);
$angular-firestarter-accent: mat.define-palette(
  mat.$green-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$angular-firestarter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-firestarter-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-firestarter-primary,
      accent: $angular-firestarter-accent,
      warn: $angular-firestarter-warn,
    ),
    typography: $custom-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-firestarter-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sofia-pro, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
